body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 20px 0;
}

body div {
  width: 7in;
  margin: 0 auto;
  background-color: rgba(251, 248, 240, 0.9);
}

p, h3 {
  margin: 0 0 0 8px;
  font-family: sans-serif;
  word-wrap:break-word;
}

h3 {
  font-size: 13pt;
}

p {
  font-size: 8pt;
}

.textbox {
  width: 2.5in;
  height: 1in;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  float: right;
  background-color: rgba(251, 248, 240, 0);
}

canvas {
  margin: 0.1in;
  padding: 0;

  background: center no-repeat;
  background-size: cover;
  -webkit-print-color-adjust:exact;

  width: 0.8in;
  height: 0.8in;
}

.item {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
